body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

h1{
margin-top:30px;
color:#00ff88;
}

img{
border-radius:12px;
border:3px solid #00ff88;
margin-top:20px;
}

.botoes{
margin-top:20px;
}

button{

padding:12px 20px;
margin:10px;
font-size:16px;

background:#00ff88;
border:none;
border-radius:8px;

cursor:pointer;

}