<!DOCTYPE html>
<html>

<head>

<title>VisionAI Ótica</title>

<link rel="stylesheet" href="{{ url_for('static', filename='visionai.css') }}">

</head>

<body>

<header>

<div class="logo">
VisionAI
</div>

<nav>
<a href="#">Tecnologia</a>
<a href="#">Ótica</a>
<a href="#">IA</a>
</nav>

</header>

<section class="hero">

<h1>VisionAI Ótica</h1>

<p>
Provador virtual inteligente com visão computacional
</p>

<a href="/paciente">
<button class="btn">
Iniciar Atendimento
</button>
</a>

</section>

</body>

</html>